body{

background:#020617;
color:#00ff9c;
font-family:monospace;
margin:0;
text-align:center;

}

header{

padding:30px;
background:#000;

}

h1{

color:#38bdf8;

}

.network{

margin-top:40px;

}

.machines{

display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;

}

.machine{

background:#111;
padding:20px;
border-radius:8px;
width:180px;
border:1px solid #00ff9c;

}

.terminal-section{

margin-top:60px;

}

.terminal{

width:80%;
max-width:700px;
margin:auto;
background:black;
padding:20px;
border-radius:8px;
border:1px solid #00ff9c;
text-align:left;

}

#terminal-output{

height:200px;
overflow:auto;
margin-bottom:10px;

}

#terminal-input{

width:100%;
padding:10px;
background:black;
border:none;
color:#00ff9c;
font-family:monospace;

}

footer{

margin-top:60px;
padding:20px;
background:black;

}
